.history {
    position: absolute;
    left: 5%;
    width: 45%;
    text-align: center;
    height: 42%;
}

.link {
    color: cornflowerblue;
}

.link:hover {
    font-size: 17px;
}

.heading {
    text-align: center;
    font-size: 22px;
}