.urlInputLabel {
    font-size: 22px;
}

.urlInput {
    height: 30px;
    width: 20%;
    border-radius: 3px;
    border-color: cornflowerblue;
}

.submitButton {
    height: 35px;
    width: 100px;
    margin-left: 5px;
    background-color: cornflowerblue;
    color: white;
    border: none;
}